.content {
  padding: 0.8rem 1rem;
  position: relative;
  cursor: pointer;
}
.favorite {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  font-size: 1.2rem;
}
.favorite.not {
  color: gray;
}

.product-item-footer {
  justify-content: space-between;
  align-items: center;
}
.origins {
  flex: 9;
}
.origins span {
  font-size: 0.9rem;
  color: rgb(61, 61, 61);
  margin-right: 0.3rem;
}
.cook-time {
  font-size: 0.8rem;
  flex: 3;
  text-align: right;
}
.price {
  color: #414141;
  margin-top: 0.7rem;
}
a:hover {
  background: #ffffff;
  color: rgb(10, 9, 9);
}
