
ul li a {
  height: 21.0rem;
  width: 20rem;
  border: 1px solid rgba(131, 120, 120, 0.322);
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #128ee2;
}



.content {
  padding: 0.8rem 1rem;
  position: relative;
}
.favorite {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  font-size: 1.2rem;
}
.favorite.not {
  color: gray;
}

.product-item-footer {
  justify-content: space-between;
  align-items: center;

}
.origins {
  flex: 9;
}
.origins span {
  border-radius: 2rem;
  background-color: whitesmoke;

  font-size: .9rem;
  color: grey;
  margin-right:.3rem;
}
.cook-time {
  font-size: 0.8rem;
  flex: 3;
  text-align: right;
}
.price{
  color: #414141;
  margin-top: .7rem;

}
