/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}
body {
  margin: 0;
  font-family: "Noto+Serif", sans-serif;
  font-size: 18px;
}

ul li a {
  border: 1px solid rgba(131, 120, 120, 0.322);
  border-radius: 1rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #7994a1;
}
